<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="CONSOLE_LOG_PATTERN" source="logging.pattern.console"/>
    <springProperty name="FILE_LOG_PATTERN" source="logging.pattern.file"/>
    <springProperty name="LOG_PATH" source="logging.path"/>
    <springProperty name="FILE_NAME" source="logging.file"/>
    <springProperty name="MAX_HISTORY" source="logging.maxHistory"/>
    <timestamp key="timestamp" datePattern="dd-MM-yyyy"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${FILE_NAME}_${timestamp}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>archived/${FILE_NAME}_%d{dd-MM-yyyy}.zip</fileNamePattern>
        <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
    <springProfile name="localPostgres">
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="DEBUG">
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>


</configuration>