mat-sidenav-container {
  position: fixed;
  height: calc(100% - 64px);
  min-height: calc(100% - 64px);
  width: 100%;
  min-width: 100%;
}
mat-card {
  height: calc(100% - 32px);;
}
mat-card-content {
  height: 100%;
}
mat-sidenav-content {
  height: 100%;
}
