.breadcrumb-item {
  display: inline;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-items: baseline;
  float: none;
  min-width: 2em;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  letter-spacing: 0;
}
ol {
  padding-inline-start: 0;
  margin-block-start: 0;
}

a {
  color: #0052cc;
}
span {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  margin: 0 3px;
}


