<div class="spinner-container" *ngIf="dataSource.loading$ | async">
  <mat-spinner></mat-spinner>
</div>
<mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="seqNo">
    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
    <mat-cell *matCellDef="let release">{{release.releaseId}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="releaseName">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let release">
      <a (click)="getRelease(release)" style="align-content: center">
        <span>{{release.releaseName}}</span>
        <span style="align-content: center"><mat-icon *ngIf="release.status == 'CACHED'; else notCached" color="primary">sync</mat-icon><ng-template #notCached><mat-icon color="warn">sync</mat-icon> </ng-template></span>
      </a>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let release">{{release.description}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
