.full-size{
  width: 100%;
  height: calc(100% - 64px);
  box-sizing: border-box;
}
a {
  color: #0052cc;
}
span {
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
}
